.main {
   padding: 20px;
   max-width: 100%;
}
.main_img {
   max-width: 100%;
}
.main_img img {
   max-width: 100%;
   width: 50%;
   object-fit: fill;
   margin-bottom: 20px;
}
.textarea {
   border-radius: 10px;
   resize: none;
   width: 50%;
   padding: 10px;
}
.btn {
   border-radius: 10px;
   background-color: blueviolet;
   padding: 10px 20px;
}
