.post {
   display: flex;
   align-items: center;
   flex-direction: column;
}
.image img {
   width: 40px;
   border-radius: 50%;
}
.discription {
   font-size: 20px;
   padding: 0 10px;
}
.comments {
   display: flex;
   flex-direction: column;
}
