.messages {
   width: 100%;
   height: 100%;
}

.form,
.form div {
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.form div {
   flex-direction: column;
}

.textarea {
   border-radius: 10px;
   resize: none;
   width: 100%;
   padding: 10px;
}
.btn {
   border-radius: 10px;
   background-color: blueviolet;
   width: 18%;
   height: 100%;
}
