.following {
   padding: 0 20px;
}
.unfollow,
.follow {
   padding: 5px 10px;
   background: blueviolet;
   border-radius: 20px;
   border: none;
   color: var(--text-color);
   width: 100px;
}

.follow:hover {
   background: transparent;
   border: var(--border-right);
   border: 1px solid blueviolet;
}
.follow:hover,
.unfollow:hover {
   cursor: pointer;
}
.unfollow {
   background: transparent;
   border: 1px solid blueviolet;
}
.unfollow:hover {
   border-color: blueviolet;
}
