.following {
   padding: 0 20px;
}
.unfollow,
.follow {
   padding: 5px 10px;
   background: rgb(89, 108, 231);
   border-radius: 20px;
   border: none;
   color: var(--text-color);
   width: 100px;
}
.follow {
   background: rgb(68, 88, 222);
}
.follow:hover {
   background: transparent;
   border: var(--border-right);
}
.follow:hover,
.unfollow:hover {
   cursor: pointer;
}
.unfollow {
   background: transparent;
   border: var(--border-right);
}
.unfollow:hover {
   border-color: rgb(253, 76, 76);
}
