.dialogs {
   display: flex;
   margin: 10px 0;
}
.avatar img {
   width: 50px;
   border-radius: 50%;
}
.userName {
   font-size: 25px;
   font-style: normal;
   display: flex;
   align-items: center;
   margin: 0 20px;
}
