.header {
   background: var(--background-color);
   width: 100%;
   position: fixed;
   z-index: 3;
   transition: background-color 250ms linear;
}
.header .logo a {
   padding: 10px 0 10px 25px;
   text-decoration: none;
   font-size: 30px;
   color: var(--button-background-color);
}
.header .logo a:active {
   color: var(--button-background-color);
}
.logo {
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: var(--button-background-color);
   font-style: italic;
}
.login {
   display: flex;
   align-items: center;
}
.dropdown {
   cursor: pointer;
   font-size: 22px;
   padding: 0 20px;
}

@media (max-width: 768px) {
   .header .logo a {
      padding-left: 20px;
   }
}

@media (max-width: 576px) {
   .header .logo a {
      font-size: 24px;
   }
   .dropdown {
      font-size: 20px;
   }
}
@media (max-width: 350px) {
   .header .logo a {
      font-size: 20px;
   }
   .dropdown {
      font-size: 18px;
   }
}
