.header {
   background: var(--background-color);
   width: 100%;
   position: fixed;
   z-index: 3;
   transition: background-color 250ms linear;
}
.header .logo a {
   padding-left: 40px;
   text-decoration: none;
   font-size: 30px;
}
.header .logo a:active {
   color: var(--button-background-color);
}
.logo {
   display: flex;
   align-items: center;
   justify-content: space-between;
   color: var(--button-background-color);
   font-style: italic;
   font-size: 24px;
   line-height: 50px;
}
.login {
   display: flex;
   align-items: center;
}
.dropdown {
   background-color: var(--background-color);
}
