.header {
   padding: 0 20px;
   background: #252525;
}
.header a {
   text-decoration: none;
}
.logo {
   display: flex;
   align-items: center;
   color: #764dbe;
   font-style: italic;
   font-weight: 600;
   font-size: 24px;
   line-height: 50px;
}
