.nav {
   border-right: 1px solid #d3d3d3;
   height: 90%;
}
.nav_links {
   font-size: 25px;
   list-style: none;
   padding: 0;
}
.nav_links li a {
   display: block;
   text-decoration: none;
   line-height: 30px;
   color: #d3d3d3;
   width: 100%;
   padding: 0 20px;
   line-height: 40px;
}
.nav_links li a:hover {
   color: #764dbe;
   text-decoration: solid underline;
}
li a.active {
   color: #764dbe;
   font-style: normal;
}
