.nav {
   display: flex;
   flex-direction: column;
   width: 100%;
}
.navLink {
   display: block;
   color: #fff;
   text-decoration: none;
}
.active,
.navLink:hover,
.active:hover {
   color: blueviolet;
}
.sidebarLink {
   color: inherit;
   font-size: 25px;
}
.sidebarIcon {
   font-size: 20px;
}
